body {
    font-family: Arial, sans-serif;
    padding-top: 70px; /* This may need to be adjusted based on the final size of your navbar */
}

.jumbotron {
    background-color: #f8f9fa;
}

footer {
    background-color: #f8f9fa;
}

html {
    scroll-behavior: smooth;
}

/* Placeholder backgrounds for each section */
#lebenslauf {
    background-image: url('https://source.unsplash.com/1600x900/?construction,architecture');
    background-size: cover;
    height: 100vh;
    position: relative; /* Relative positioning for overlay */
}

#videos {
    background-image: url('https://source.unsplash.com/1600x900/?construction,video');
    background-size: cover;
    height: 100vh;
    position: relative;
}

#software {
    background-image: url('https://source.unsplash.com/1600x900/?software,architecture');
    background-size: cover;
    height: 100vh;
    position: relative;
}

#humanizing-bim {
    background-image: url('https://source.unsplash.com/1600x900/?human,architecture');
    background-size: cover;
    height: 100vh;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3); /* Black overlay with 30% opacity */
}

h2 {
    color: #ffffff; /* White color for section names */
    font-size: 3rem; /* Increase font size */
}

.navbar {
    padding: 1rem 1rem; /* Adjust as needed */
    font-size: 1.1rem; /* Increase font size */
}
